{% for schedule in schedules %}      
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">           
        <div class="schedule__container" id="">
            <div class="schedule__item" value="{{schedule._id}}">
                <div class="schedule__item__text">
                    <div class="schedule__item__text__inner" id="{{schedule._id}}">
                        <h5>{{ schedule.name }}</h5>
                    </div>
                </div>

                <div class="schedule__item__text-and-switch-container" id="{{schedule._id}}">
                    <div class="schedule__item__text-status">
                        <span>Trạng thái : </span>
                    </div>
                    <div class="col-6">
                        <div class="form-check form-switch form-switch-lg">
                            {% if schedule.active == 0 %}
                            <input class="form-check-input schedule__item__status__switch" value="{{schedule._id}}"
                            style="margin-left: 1em; margin-right: 60px;" type="checkbox" role="switch">
                            {% endif %}
                            {% if schedule.active == 1 %}
                            <input class="form-check-input schedule__item__status__switch" value="{{schedule._id}}"
                            style="margin-left: 1em; margin-right: 60px;" type="checkbox" checked role="switch">
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="schedule__item__text-and-time-container">
                    <div class="schedule__item__text">
                        <span>Thời gian : </span>
                    </div>
                    <div class="schedule__item__text-time" id="{{schedule._id}}">
                        <span>{{schedule.time}}</span>
                    </div>
                </div>
                
                <div class="schedule__item__text-and-device-container">
                    <div class="schedule__item__text">
                        <span>Rơ le : </span>
                    </div>
                    <div class="schedule__item__text-device-number" id="{{schedule._id}}">
                        <span>so luong relay</span>
                    </div>
                </div>

                <div class="schedule__item__dot" data-bs-toggle="dropdown">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editSchedule" id="scheduleId" onclick="getScheduleId('{{schedule._id}}')">
                                <i class="fa-solid fa-pen"></i>
                                <span>Sửa</span>
                            </a></li>
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteSchedule" id="deleteScheduleId">
                                <i class="fa-solid fa-trash-can"></i>
                                <span>Xóa</span>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<script>

function getDeleteScheduleId(id){
    var id = $('#deleteScheduleId').val(id);
}

function getScheduleId(id){
    $('#scheduleId').val(id);
    var count = 1;
    const path = location.pathname.split("/");
    let url = '/' + path[1] + '/' + path[2] + '/edit/' + id;
    $.ajax({
        type: "GET",
        url: url,
        contentType: "application/json;charset=utf-8",
        data: JSON.stringify(id),
        dataType: 'json',
        success: function(data) {
            // console.log(data)
            $("input:text").val(data[0]['name']);  
            // $("#appt_update").val(data[0]['input']['schedule']['timeStart']); 
            // console.log(data[0]['input']['schedule'])
            
            // editTimeSchedule = document.getElementsByClassName("edit__time__schedule")
            // console.log(editTimeSchedule);
            let element = []
            for(let i = 0; i < data[0]['input']['schedule']['timeStart'].length; i++){
                element[i] = `  <tr>
                                    <td><input type="time" class="form-control editApptStart" name="appt" id="${i + 11}"
                                            onchange="getTimeStartEdit()" value="${data[0]['input']['schedule']['timeStart'][i]}" required></td>
                                    <td><div style="margin-top: 4%;"></i></div></td>
                                    <td><input type="time" class="form-control editApptStop" name="apptEnd" id="${i+16}"
                                            onchange="getTimeStopEdit()" value="${data[0]['input']['schedule']['timeStop'][i]}" required></td>
                                    <td>
                                        <div class="remove" _id="1" style="margin-top: 6%;">
                                            <a><i class="fa-solid fa-trash-can"></i></a>
                                        </div>
                                    </td>
                                </tr>`

            }
            $('.edit__time__schedule').html(element)
            getTimeStartEdit();
            getTimeStopEdit();
            
            var days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']
            var dayvalue = ['2', '3', '4', '5', '6', '7', 'CN']

            for (let i = 0; i < days.length; i++){
                if ((data[0]['input']['loop'][days[i]]) == true){
                    $(`#editSchedule #${dayvalue[i]}`).val('1');
                    $(`#editSchedule #${dayvalue[i]}`).css('background-color', '#0066ff');
                    $(`#editSchedule #${dayvalue[i]}`).css('color', 'white');
                }
            }

            $('.schedule__device-update').find('.schedule__device__item__plus-circle').each(function(){
                for (let i = 1; i < data.length; i++ ){
                    if($(this).attr('_id') == data[i]['ID']){
                        $(this).removeClass("not-used");
                        $(this).addClass("used")
                        $(this).attr('value', '1')
                        $(this).parent().parent().removeClass("not-used-schedule-update")
                        $(this).parent().parent().addClass("used-schedule-update")
                        $(this).parent().parent().find('input').prop("disabled", true)

                        if(data[i]['pull'] == '1'){
                            $(this).parent().parent().find('.schedule__relay__switch').attr('value', '1')
                            $(this).parent().parent().find('.schedule__relay__switch').prop("checked", true)
                            $(this).parent().parent().find('.DIM').attr('value', `${data[i]['dim']}`)
                            $(this).parent().parent().find('.CCT').attr('value', `${data[i]['cct']}`)
                        }
                    }
                }
            })
        }
    });
}
</script>