{% for schedule in schedules %}      
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">           
        <div class="schedule__container" id="">
            <div class="schedule__item" value="{{schedule._id}}">
                <div class="schedule__item__text">
                    <div class="schedule__item__text__inner" id="{{schedule._id}}">
                        <h5>{{ schedule.name }}</h5>
                    </div>
                </div>

                <div class="schedule__item__text-and-switch-container" id="{{schedule._id}}">
                    <div class="schedule__item__text-status">
                        <span>Trạng thái : </span>
                    </div>
                    <div class="col-6">
                        <div class="form-check form-switch form-switch-lg">
                            {% if schedule.active == 0 %}
                            <input class="form-check-input schedule__item__status__switch" value="{{schedule._id}}"
                            style="margin-left: 1em; margin-right: 60px;" type="checkbox" role="switch">
                            {% endif %}
                            {% if schedule.active == 1 %}
                            <input class="form-check-input schedule__item__status__switch" value="{{schedule._id}}"
                            style="margin-left: 1em; margin-right: 60px;" type="checkbox" checked role="switch">
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="schedule__item__text-and-time-container">
                    <div class="schedule__item__text">
                        <span>Thời gian : </span>
                    </div>
                    <div class="schedule__item__text-time" id="{{schedule._id}}">
                        <span>{{schedule.time}}</span>
                    </div>
                </div>
                
                <div class="schedule__item__text-and-device-container">
                    <div class="schedule__item__text">
                        <span>Rơ le : </span>
                    </div>
                    <div class="schedule__item__text-device-number" id="{{schedule._id}}">
                        <span>so luong relay</span>
                    </div>
                </div>

                <div class="schedule__item__dot" data-bs-toggle="dropdown">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editSchedule" id="scheduleId" onclick="getScheduleId('{{schedule._id}}')">
                                <i class="fa-solid fa-pen"></i>
                                <span>Sửa</span>
                            </a></li>
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteSchedule" id="deleteScheduleId" onclick="getDeleteScheduleId('{{schedule._id}}')">
                                <i class="fa-solid fa-trash-can"></i>
                                <span>Xóa</span>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<script>

function getDeleteScheduleId(id){
    var id = $('#deleteScheduleId').val(id);
}

function getScheduleId(id){
    $('#scheduleId').val(id);
    const path = location.pathname.split("/");
    let url = '/' + path[1] + '/' + path[2] + '/edit/' + id;
    $.ajax({
        type: "GET",
        url: url,
        contentType: "application/json;charset=utf-8",
        data: JSON.stringify(id),
        dataType: 'json',
        success: function(data) {
            console.log(data)
            $("input:text").val(data[0]['name']);  
            timeArr = data[0]['time'].split(" ")
            time = timeArr[0]+'T'+timeArr[1]
            console.log(time);
            $(".edit-apptStart").val(time) 
            let element = []
            
            $('.schedule__device-update').find('.schedule__device__item__plus-circle').each(function(){
                for (let i = 1; i < data.length; i++ ){
                    if($(this).attr('_id') == data[i]['ID']){
                        $(this).removeClass("not-used");
                        $(this).addClass("used")
                        $(this).attr('value', '1')
                        $(this).parent().parent().removeClass("not-used-schedule-update")
                        $(this).parent().parent().addClass("used-schedule-update")
                        $(this).parent().parent().find('input').prop("disabled", false)

                        if(data[i]['pull'] == 1){
                            $(this).parent().parent().find('.schedule__relay__switch').attr('value', '1')
                            $(this).parent().parent().find('.schedule__relay__switch').prop("checked", true)
                        }
                    }
                }
            })
        }
    });
}
</script>