<div class="col-12 col-md-6 col-lg-4 col-xl-3"> 
    <div class="script__item">
        <div class="script__item__name">
            <div class="script__item__name__inner" id="{{script._id}}">
                <h5>{{script.name}}</h5>
            </div>
        </div>

        <div class="container" id="{{script._id}}">
            <div class="row mt-3">
                <div class="col-6">
                    <div class="script__item__status">Trạng thái</div>
                </div>
                <div class="col-6">
                    <div class="form-check form-switch form-switch-lg">
                        <input class="form-check-input script__item__status__switch" id="statusScriptId"
                        type="checkbox" role="switch" onclick="getScriptId('{{script._id}}')">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-6">
                    <div class="script__item__number-of-relay">Số thiết bị</div>
                </div>
                <div class="col-6 nrelay-led">{{script.numberOfRelay}}</div>
            </div>
            <div class="row mt-2">
                <div class="col-6">
                    <div class="script__item__number-of-relay-in-relay">Rơ le</div>
                </div>
                <div class="col-6 nrelay">{{script.numberOfRelay}}</div>
            </div>
        </div>

        <div class="script__item__dot" data-bs-toggle="dropdown">
            <i class="fa-solid fa-ellipsis-vertical"></i>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item script__item__edit" data-bs-toggle="modal" data-bs-target="#editScript" _id = "{{script._id}}" onclick="setEditScriptId('{{script._id}}')">
                        <i class="fa-solid fa-pen"></i>
                        <span>Sửa</span>
                    </a></li>
                <li><a class="dropdown-item script__item__delete" data-bs-toggle="modal" data-bs-target="#deleteScript" onclick="setScriptId('{{script._id}}')">
                        <i class="fa-solid fa-trash-can"></i>
                        <span>Xóa</span>
                    </a></li>
            </ul>
        </div>
    </div>
</div>

<script>
    function setScriptId(id){
        $('#id-delete-script').text(id);
    }
    function setEditScriptId(id){
        $('#id-edit-script').text(id);
    }
</script>