<div class="relay__item">
    <div class="relay__item__name">
        <div class="relay__item__name__inner">
            <h5>{{relay.name}}</h5>
        </div>
    </div>
    <div class="relay__item__image-and-switch-container">
        <div class="relay__item__image">
            <img src="{{url_for('static', filename='icons/relay.png')}}" alt="relay image">
        </div>
        <div class="relay__item__switch-button form-check form-switch form-switch-lg">
            <p>OFF</p>
            <input
                class="form-check-input relay__item__switch-button__input"
                type="checkbox"
                role="switch"
                device = "{{relay.type}}"
                name = "{{relay.name}}"
                {% if relay.status == 1 %} checked {% endif %}
            >
            <p>ON</p>
        </div>
    </div>
    <div class="relay__item__type">
        <div class="relay__item__type__inner">
            <span>Loại thiết bị: LED</span>
        </div>
    </div>
    <!-- <div class="relay__item__time">
        <div class="relay__item__time__inner">
            <span>Thời gian tạo: </span>
        </div>
    </div> -->
    <div class="relay__item__dot" data-bs-toggle="dropdown">
        <i class="fa-solid fa-ellipsis-vertical"></i>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item relay__item__edit" data-bs-toggle="modal" data-bs-target="#editRelay" relay='{{relay}}'>
                    <i class="fa-solid fa-pen"></i>
                    <span>Sửa</span>
                </a></li>
            <li><a class="dropdown-item relay__item__delete" data-bs-toggle="modal" data-bs-target="#deleteRelay" _id="{{relay._id}}">
                    <i class="fa-solid fa-trash-can"></i>
                    <span>Xóa</span>
                </a></li>
        </ul>
    </div>
</div> 